a{
    text-decoration: none;
}  
.soderjanie{
    border:1px solid black; 
    width: 400px;
    background-color: gainsboro; 
    color: blue;
    margin-left: 150px;
    margin-right: 150px;
}
.textKG p {
    font-size: 18px;
}
.textKG{
    margin-left: 150px;
    margin-right: 150px;
}
.menu{ 
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.menu ul{
    display:  flex;
    justify-content: center;
}
.menu li{
    list-style-type: none;
    margin-left: 30px;
    font-size: 25px;
}
.menu li a{
    color: black;
}
.menu li a:hover{
    color: red; 
    transition: 0.3s;
}
.banner img{
height: 850px; 
}
.banner{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tours{ 
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.tour{
    margin-left: 20px;
}
.tourH{
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}
.tours h3{
    font-size: 25px;
}
.tours p{
    font-size: 24px;
}
.tours a{
    font-size: 22px;
    background-color: rgb(38, 180, 30);
    color: white;
    padding: 10px;
    border-radius: 20px;
}
.map{
    text-align: center;
}
.map h1{
    margin-top: 20px;
    margin-bottom: 20px;
}