body{
  font-family: "Montserrat", sans-serif; 
  margin: 0;
  padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}  
.soderjanie{
    border:1px solid black; 
    width: 400px;
    background-color: gainsboro; 
    color: blue;
    margin-left: 150px;
    margin-right: 150px;
}
.soderjanie li{
    font-size: 23px;
}
.textKG p {
    font-size: 23px;
}
.textKG{
    margin-left: 150px;
    margin-right: 150px;
}
.menu{ 
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.menu ul{
    display:  flex;
    justify-content: center;
    align-items: center;
}
.menu li{
    list-style-type: none;
    margin-left: 30px;
    font-size: 25px;
}
.menu li a{
    color: black;
}
.menu li a:hover{
    color: red; 
    transition: 0.3s;
}
.banner img{
height: 800px; 
}
.banner{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tours{ 
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.tour{
    margin-left: 20px;
}
.tourH{
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 100px;
}
.tours h3{
    font-size: 25px;
}
.tours p{
    font-size: 24px;
}
.tours a{
    font-size: 22px;
    background-color: rgb(38, 180, 30);
    color: white;
    padding: 10px;
    border-radius: 20px;
}
.map{
    text-align: center;
    margin-top: 100px;
}
.map h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer{
    margin-top: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialLinks li{
    margin-left: 10px;
}
.socialLinks{
    margin-left: 50px;
}
.socialLinks h2{
    color: white;
    text-align: center;
}
.contacts{
    margin-left: 50px;
}
.contacts a{
    font-size: 25px;
    color: white;
}
.regions img{
    width: 400px;
}
.media{
    margin-left: 150px;
    margin-right: 150px;
}
.media a{
    font-size: 30px;
}
.photo img{
    width: 400px;
}
.photo ul{
    display: flex;
}
.contacts{
    margin-top: 100px;
    text-align: center;
}
.contacts input{
    font-size: 25px;
    padding: 5px;
}
.contacts button{
    font-size: 25px;
    background-color: #5bc797;
    color: white;
    padding: 5px;
}