.carouselGenaText{
    background: #96BE45;
    border-radius: 20px;
    font-weight: 500;
}
.imgBigGenaCard img{
    height: 600px;
    object-fit: cover;
}
/* @media (max-width: 430px) {
   .imgBigGenaCard img{
        height: 300px; 
        object-fit: cover;
    }
}  */
.imgSmallGenaCard img{
    height: 292px;
    object-fit: cover;
}
.easy-zoom-effect {
  transition: transform 0.5s ease;
}

.easy-zoom-effect:hover {
  transform: scale(1.05);
}
.accordion-item span{
    font-size: 20px;
}