.breadcrumb a{
  text-decoration: none;
  color: rgb(27, 27, 27);
} 
.navbar{
  text-transform: uppercase;
}

.carouselGenaText{
    background: #96BE45;
    border-radius: 20px;
    font-weight: 500;
}
.imgBigGenaCard img{
    height: 600px;
    object-fit: cover;
} 
.imgSmallGenaCard img{
    height: 292px;
    object-fit: cover;
}
.easy-zoom-effect {
  transition: transform 0.5s ease;
}

.easy-zoom-effect:hover {
  transform: scale(1.05);
}
.accordion-item span{
    font-size: 20px;
}

/*  */
.blockSales{
  position: relative;
}
.overlayText {
    position: absolute;
    top: -5%;
    left: 5%;
    background-color: red;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 11px;
}
.header {
  background-color: black;
  color: white;
}
.header ul{
  
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}
.header li{
  list-style-type: none;
}
/*  */
.categoryCont{
  border: 1px solid black;
  background-color: rgb(237, 236, 236);
}
.categoryCont ul{
  margin: 0;
  padding: 0;
  display: flex;
  gap:20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.categoryCont li{
  list-style-type: none;
}
.categoryCont  a{
  text-decoration: none;
  color: black;
}
.imgblockCat{
  height: 350px;
  width: 300px;
}
.imgblockCat img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cardBlockCategory p{
  padding: 0;
  margin: 0;
  margin-top: 8px;
}
.cardBlockCategory a{
  width: 100%;
}