.catalogBig{
    margin-left: 100px;
    margin-right: 100px;
}
.catalogBigInput{
    width: 100%;
    height: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
.catalog{
    margin-top: 50px;
    display: flex;
    width: 100%;
}
.menuPercent{
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
.menuPercent a{
    color: rgb(106, 105, 105);
}
.Percent30{
    width: 25%;
}
.Percent70{
    width: 75%;
}
.Percent70 ul{
    padding: 0;
    display: flex
}
.Percent70 li{ 
    margin-right: 30px;
}
.catalogTextMiniSteamIcons li{
    margin-right: 5px; 
}
/* block game */
.blockGame{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 
.skidkaGameCart{
    background: red;
    color: white;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
}
.buyGameCart{
    background: #dadada;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid gray;
}
.buyGameCart:hover{
    background: rgb(188, 255, 179);
    padding: 10px;
    margin-top: 20px;
    border: 1px solid rgb(179, 255, 167);
}
.blockGamePriceCart{
    text-align: center;
}
.blockGamePriceCart b{
    font-size: 14px;
}
.buyGameCart a{
    color: black;
    font-size: 12px;
}
.buyGameCart a:hover{
    color: rgb(31, 255, 31);
}
.greenSpan{   
    color: rgb(61, 176, 61);
}
.blockGameText {
    width: 50%; 
}
.blockGameText h3{
    font-size: 15px;
}
.blockGameText p{
    font-size: 12px;
}
.catalogTextMiniSteamIcons img{
    width: 16px;
}
.catalogTextMiniSteamIcons a{
font-size: 12px;
color: gray;
} 
.catalogTextMiniSteamIcons{
    color: gray;
}
/*  */
.pricePercent30 input{
    width: 100px;
}
.pricePercent30{
    display: flex;
    align-items: center;
}
.Percent30 ul{
    margin: 0;
    padding: 0;
}
.pricePercent30 span{
    margin-left: 2px;
    margin-right: 2px;
}  
/* blockGameImage */
.blockGameImage{
    position: relative;
    width: 250px;
}
.overlayText{
    position: absolute;
    top: -5%;
    left: -3%;
    background-color: red;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 13px;
}
.blockGameImage img{
    width: 100%;
    display: block;
}
/* genreBig */
.genreBig{
    display: flex;
    width: 100%;
    font-size: 13px;
}
.checkboxInputGenre{
    width: 70%;
}
.checkboxQuantityGenre{
    width: 30%;
}
.genreBig label{
    font-weight: 300;
}
.checkboxQuantityGenre span{
    background-color: rgb(81, 209, 209);
    color: white;
    padding-right: 5px ;
    padding-left: 5px ; 
    border-radius: 15px;
}