.catalogBig{
    margin-left: 100px;
    margin-right: 100px;
}
.catalogBigInput{
    width: 100%;
    height: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
.catalog{
    margin-top: 50px;
    display: flex;
    width: 100%;
}
.menuPercent{
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
.Percent30{
    width: 25%;
}
.Percent70{
    width: 75%;
}
.Percent70 ul{
    display: flex
}
.Percent70 li{
    margin-left: 10px;
    margin-right: 10px;
}
/* block game */
.blockGame{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 
.skidkaGameCart{
    background: red;
    color: white;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
}
.buyGameCart{
    background: #dadada;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid gray;
}
.buyGameCart:hover{
    background: rgb(188, 255, 179);
    padding: 10px;
    margin-top: 20px;
    border: 1px solid rgb(179, 255, 167);
}
.blockGamePriceCart{
    text-align: center;
}
.buyGameCart a{
    color: black;
}
.buyGameCart a:hover{
    color: rgb(31, 255, 31);
}
.greenSpan{   
    color: rgb(61, 176, 61);
}
.blockGameText p{
    font-size: 13px;
}
.catalogTextMiniSteamIcons img{
    width: 16px;
}
.catalogTextMiniSteamIcons a{
font-size: 13px;
color: gray;
} 
.catalogTextMiniSteamIcons{
    color: gray;
}
/*  */
.pricePercent30 input{
    width: 120px;
}
.pricePercent30{
    display: flex;
    align-items: center;
}
.Percent30 ul{
    margin: 0;
    padding: 0;
}
.pricePercent30 span{
    margin-left: 2px;
    margin-right: 2px;
} 
.genreBig span{
    margin-left: 150px;
}