.catalogBig{
    margin-left: 100px;
    margin-right: 100px;
}
.catalogBig input{
    width: 100%;
    height: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
.catalog{
    margin-top: 50px;
    display: flex;
    width: 100%;
}
.menuPercent{
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
.Percent30{
    width: 25%;
}
.Percent70{
    width: 75%;
}
.Percent70 ul{
    display: flex
}
.Percent70 li{
    margin-left: 10px;
    margin-right: 10px;
}
/* block game */
.blockGame{
    display: flex;
    align-items: center;
}