body{
    margin: 0px;
    background-color: #edf1f2;
     font-family: "Inter", sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
header{
    text-transform: uppercase;
}
/* top menu */
.topMenu{
    align-items: center;
    display: flex;  
    justify-content: center;
}
.logo img{
    width: 150px;
}
/* menu */
.menu {
    background-color: rgb(43, 43, 43);
}
.menu a{
    color: #fff;
}
.menu ul{
    margin-left: 80px;
    display: flex;
}
.menu li{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px; 
    font-size: 14px;
    font-weight: 600;
}
.menu input{
    font-size: 20px;
}
/* button menu */
.blueButton{
    margin-left: 30px;
    background-color: rgb(50, 97, 224);
}
.redButton{
    background-color: rgb(228, 74, 36);
}
.topMenuButton a{ 
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    color: #fff;
}
/* top menu li */
.topMenuLi ul{
    display: flex;
}
.topMenuLi a{
color: rgb(131, 129, 129);
}
.topMenuLi li{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 700;
}
/* banner */
.banner {
    text-align: center;
}