body{
    margin: 0px;
    background-color: #edf1f2;
     font-family: "Inter", sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
header{
    text-transform: uppercase;
}
/* top menu */
.topMenu{
    align-items: center;
    display: flex;  
    justify-content: center;
}
.logo img{
    width: 150px;
}
/* menu */
.menu {
    background-color: rgb(43, 43, 43);
}
.menu a{
    color: #fff;
}
.menu ul{
    margin-left: 80px;
    display: flex;
}
.menu li{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px; 
    font-size: 14px;
    font-weight: 600;
}
.menu input{
    font-size: 20px;
}
/* button menu */
.blueButton{
    margin-left: 30px;
    background-color: rgb(50, 97, 224);
}
.redButton{
    background-color: rgb(228, 74, 36);
}
.topMenuButton a{ 
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    color: #fff;
}
/* top menu li */
.topMenuLi ul{
    display: flex;
}
.topMenuLi a{
color: rgb(131, 129, 129);
}
.topMenuLi li{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 700;
}
/* banner slider  */  
.slider {
    position: relative;     
} 
.slides {
    display: flex; 
    transition: transform .6s ease;
}
.slide {
    width: 100%; 
    flex-shrink: 0;
}
.slide img {
    width: 100%; 
}
/* Переключение */
#s1:checked ~ .slides {
    transform: translateX(0);
}
#s2:checked ~ .slides {
    transform: translateX(-100%);
}
/* Стрелки слайда */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    user-select: none;
    z-index: 2;
    transition: opacity .2s ease;
}
.arrow:hover {
    opacity: 0.7;
} 
.left {
    left: 20px;
}
.right {
    right: 20px;
}
/* card */
.CardBlock {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}
.cartList{
    width: 220px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 0px 2px rgb(163 160 160)
}
.textCard img {
    width: 20px;
} 
.textCard ul{
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    padding-bottom: 10px;
}
.orangeSales{
    background-color: orange;
    color: #fff;
    padding: 4px;
}