a{
    text-decoration: none;
}
li{
    list-style-type: none;
} 

body{
    background: url('https://steambuy.com/partner/img/background.png'); 
    background-position: top; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    margin: 0;   
    font-family: "Science Gothic", sans-serif;
}
/* menu start */
.allPageBorder{
    margin-left: 247px;
    margin-right: 247px; 
    background-color: #F5F5F5;
}
.header{
    display: flex;
    background-color: white;
    box-shadow: 0px 3px 5px gray; 
    justify-content: space-between;
    align-items: center;
}
.header ul{
    display: flex;
}
.header li{
    margin-right: 50px;
}
.buttonsMenu{
    display: flex;
    margin-right: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}
.buttonsMenu .btn{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 13px;
}
.skyButton {
    margin-right: 20px;
    background-color: rgb(90, 186, 255); 
}
.redButton { 
    background-color: red;
}
/* menu end */

/* textZar */
.textZar{
    margin-top: 50px;
    text-align: center;
}
.textZar p{
    font-weight: 200;
}
.textZar span{
    color: rgb(242, 81, 40);
    font-size: 30px;
}
/* textZar end */


/* cardZarabotai */
.thirdCardZarabotaI{
    margin-top: 50px;
    display: flex; 
    justify-content: space-around;
}
.imgBLockZarabotai{
    width: 130px;
    display: block;
}
.cardZarabotai img{ 
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
}
.cardZarabotai {
    color: rgb(118, 117, 117);
    background-color: white;
    justify-items: center;
    text-align: center;
}
.cardZarabotai p{
    width: 300px;
    font-weight:200;
    font-size: 13px;
}
.buttoncardZarabotai{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.buttoncardZarabotai a{
    background-color: green;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
/* opytCardZarabotai */
.opytCardZarabotai{
    display: flex;
}
/* corana */
.corana{
    text-align: center;
}
.corana img{
    width: 50px;
}
.corana p{
    font-size: 13px;
    font-weight: 300;
}